<div class="grid-x grid-padding-x">
  <div class="large-12 cell">
    <h3>
      Пополнение счета
    </h3>
  </div>
</div>

<form method="post">
  <div class="grid-x grid-padding-x">
    <div class="medium-6 cell">
      <label>Фамилия вкладчика
        <input type="text" placeholder="тип" name="l_name">
      </label>
    </div>
    <div class="medium-6 cell">
      <label>Номер счета
        <input type="number" placeholder="12" name="dep_number">
      </label>
    </div>
    <div class="medium-6 cell">
      <label>Сумма пополнения
      <input type="number" placeholder="12" name="sum">
      </label>
    </div>
  </div>
  <div class="grid-x grid-padding-x">
    <div class="lagre-12 cell">
      <input type="submit" value="Пополнить" class="button success">
    </div>
  </div>
</form>